<div class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <% if text_left %>
        <div class="col-lg-6">
          <%= render "static_pages/instruction", heading: heading, text: text %>
        </div>

        <% if defined?(media_url) %>
          <div class="col-lg-6">
            <%= render "static_pages/video", media_url: media_url %>
          </div>
        <% end %>

      <% else %>

        <% if defined?(media_url) %>
          <div class="col-lg-6">
            <%= render "static_pages/video", media_url: media_url %>
          </div>
        <% end %>

        <div class="col-lg-6">
          <%= render "static_pages/instruction", heading: heading, text: text %>
        </div>
      <% end %>
    </div>
  </div>
</div>
