<% flash.each do |message_type, message| %>
  <% alert_class = (message_type == "alert") ? "warning" : "success" %>
  <div id=<%= message_type %> class="<%="container col-6 notice alert alert-dismissible alert-#{alert_class}"%>">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <div class: "mb-0"><%= message %></div></aside>
  </div>
<% end %>
