<div class="masthead-small container px-5 mt-5 fullheight">
  <div class="features-device-mockup">
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/hursldrn.json"
        trigger="loop"
        delay="1000"
        colors="primary:#2937f0,secondary:#9f1ae2"
        state="hover"
        style="width:250px;height:250px">
    </lord-icon>
  </div>
  <div class="mb-5 mb-lg-0 text-center text-lg-start">
    <p class="lead fw-normal text-muted mb-5" align="center">Building your album, this won't take long</p>
  </div>
</div>

