<div class="col" align="center">
  <%= link_to set_cover_photo_album_path(photo_album, cover_id: image['id']), data: { "turbo-method": :put }, class: "btn btn-outline-secondary btn-transparent p-2", title: "Make cover" do %>
    <img src="../assets/img/book.png" style="width:1.3rem; height:1.3rem" class="m-1">
  <% end %>
</div>
