<div id="<%= dom_id photo_album %>">
  <p>
    <h1 class="navbar navbar-expand-lg navbar-light bg-light container mt-3"><%= photo_album.name %></h1>
    <div class="container">
    <% @photo_album.images.each_slice(2) do |left, right| %>
      <!-- TODO: Odd check, render cover etc -->
      <div class="row g-0 justify-content-center">
        <div class="col">
          <%= render 'photos/canvas_template', image: left %>
        </div>
        <div class="col">
          <% if right %>
            <%= render 'photos/canvas_template', image: right %>
          <% end %>
          <!-- Render a cover -->
        </div>
      </div>
    <% end %>
    </div>
  </p>
</div>
