<div id="<%= dom_id photo_album %>">
  <p>
    <strong>Name:</strong>
    <%= photo_album.name %>
    <div class="container">
    <% @photo_album.photos.each_slice(2) do |left, right| %>
      <!-- TODO: Odd check, render cover etc -->
      <div class="row">
        <div class="col">
          <%= render 'photos/canvas_template', photo: left %>
        </div>
        <div class="col">
          <% if right %>
            <%= render 'photos/canvas_template', photo: right %>
          <% end %>
          <!-- Render a cover -->
        </div>
      </div>
    <% end %>
    </div>
  </p>

</div>
