<h1>Editing photo album</h1>

<%= render "form", photo_album: @photo_album %>

<br>

<div>
  <%= link_to "Show this photo album", @photo_album %> |
  <%= link_to "Back to photo albums", photo_albums_path %>
</div>
