<div class="container pt-5 col-sm-12 col-md-10 col-lg-6 primary-9">
  <div class="container px-1 my-5">
    <%= render "shared/notice" %>
    <%= render "form", photo_album: @photo_album %>
  </div>
</div>
