<div id="estimate">
  <% if order_estimate %>
    <%= order_estimate.currency_symbol %><b><%= order_estimate&.total %>
</b> total
    <small class="form-text text-muted">incl. <%= order_estimate&.total_vat %> VAT</small>
  <% else %>
    <small class="form-text text-muted">Fetching price</small>
  <% end %>
</div>