<!DOCTYPE html>
<html style="background-color: #F0F4F8">

  <%= render "layouts/head" %>

  <body class="d-flex flex-column vh-100">
    <% unless @mobile_app %>
      <%= render "shared/nav" %>
    <% end %>
    <%= yield %>

    <dialog id="turbo-confirm" class="dialog">
        <div class="dialog__content">
          <form method="dialog">
            <p class="dialog__title" id="dialog-message">Are your sure?</p>
            <div>
              <button value="cancel" class="btn btn-secondary">Cancel</button>
              <button value="confirm" class="btn btn-danger">Confirm</button>
            </div>
          </form>
        </div>
    </dialog>
    <%= render "layouts/contact" %>
  </body>
</html>
